# Ігноруємо налаштування PyCharm
.idea/

# Ігноруємо кеш Python
**/__pycache__/
*.pyc

# Ігноруємо віртуальне оточення
.venv/
venv/
ENV/

# Ігноруємо випадкові скріншоти та логи
*.png
*.jpg
*.jpeg
*.log